
.div_class_about_me {

  margin-top: 10pt;
  margin-left: 50pt;

  stroke-opacity: 0;
  fill-opacity: 1;

  letter-spacing: 0.6pt;
}

#div_id_about_me_title {

}

#div_id_about_me_content {

  margin-top: 20pt;
}
