
.path_class_month_arc {

	stroke-opacity: 0;
	stroke-width: 0pt;				
}

.text_class_month_title {

  	stroke-opacity: 0;
  	fill-opacity: 0.4;
}

#text_id_count_max {

  	stroke-opacity: 0;
  	fill-opacity: 0.4;
}

.circle_class_month_ruler {

	stroke-width: 0.2pt;

  	stroke-opacity: 1;
  	fill-opacity: 0;
}
