
.font_weight_bold {

  font-weight: bold;
}

.font_weight_200 {

  font-weight: 200;
}

.font_weight_400 {

  font-weight: 400;
}

.font_weight_600 {

  font-weight: 600;
}

.font_weight_800 {

  font-weight: 800;
}

.font_size_36 {
  
  font-size: 36pt;
}

.font_size_30 {
  
  font-size: 30pt;
}

.font_size_24 {
  
  font-size: 24pt;
}

.font_size_20 {
  
  font-size: 20pt;
}

.font_size_18 {
  
  font-size: 18pt;
}

.font_size_16 {
  
  font-size: 16pt;
}

.font_size_12 {
  
  font-size: 12pt;
}

.font_size_10 {
  
  font-size: 10pt;
}

.font_size_9 {
  
  font-size: 9pt;
}

.font_size_8 {
  
  font-size: 8pt;
}

.color_main {

  stroke: #FCFCFC;
  fill: #FCFCFC;
  color: #FCFCFC;
}

.color_total {

  stroke: #FCFCFC;
  fill: #FCFCFC;  
}

.color_pleasure {

  stroke: #FF7F50;
  fill: #FF7F50;  
}

.color_business {

  stroke: #FFD700;
  fill: #FFD700;  
}

.color_visit_relatives {

  stroke: #ADFF2F;
  fill: #ADFF2F;  
}

.color_study {

  stroke: #87CEFA;
  fill: #87CEFA;  
}

.color_others {

  stroke: #CD853F;
  fill: #CD853F;  
}

.text_anchor_middle {

  text-anchor: middle;
}

